<div class="menu">
    <div class="desenhar">
        <p>Desenhar</p>
        <div class="opcoes-desenhos">
            <button *ngIf="buttonSelected === 'retasDDA'" class="selected">Retas - DDA</button>
            <button *ngIf="buttonSelected !== 'retasDDA'" class="unselected" (click)="selectRetasDDA()">Retas - DDA</button>
            <button *ngIf="buttonSelected === 'retasBresenham'" class="selected">Retas - Bresenham</button>
            <button *ngIf="buttonSelected !== 'retasBresenham'" class="unselected" (click)="selectRetasBresenham()">Retas - Bresenham</button>
            <button *ngIf="buttonSelected === 'circuloBresenham'" class="selected">Circunferência - Bresenham</button>
            <button *ngIf="buttonSelected !== 'circuloBresenham'" class="unselected" (click)="selectCirculoBresenham()">Circunferência - Bresenham</button>
        </div>
        <div *ngIf="buttonSelected === 'circuloBresenham'" class="circleRaio">
            <p>Raio: </p>
            <input (change)="sendRaioValue()" [(ngModel)]="raio" class="raioInput" type="number">
            <!-- <button type="submit" class="ok-button">OK</button> -->
        </div>
    </div>
    <div class="transformacoes-geometricas">
        <p>Tranformações Geométricas</p>
        <div class="transf-operacoes">
            <button>Translação</button>
            <button>Rotação</button>
            <button>Escala</button>
            <button>Reflexão</button>
        </div>
    </div>
    <div class="recortes">
        <p>Recortes</p>
        <div class="opcoes-recortes">
            <button>Regiões codificadas – Cohen-Sutherland </button>
            <button>Equação paramétrica – Liang-Barsky </button>
        </div>
    </div>
</div>
