<div class="menu">
    <div class="desenhar">
        <p class="desenhar-title">Desenhar</p>
        <div class="opcoes-desenhos">
            <button *ngIf="buttonSelected === 'retasDDA'" class="selected">Retas - DDA</button>
            <button *ngIf="buttonSelected !== 'retasDDA'" class="unselected" (click)="selectRetasDDA()">Retas - DDA</button>
            <button *ngIf="buttonSelected === 'retasBresenham'" class="selected">Retas - Bresenham</button>
            <button *ngIf="buttonSelected !== 'retasBresenham'" class="unselected" (click)="selectRetasBresenham()">Retas - Bresenham</button>
            <button *ngIf="buttonSelected === 'circuloBresenham'" class="selected">Circunferência - Bresenham</button>
            <button *ngIf="buttonSelected !== 'circuloBresenham'" class="unselected" (click)="selectCirculoBresenham()">Circunferência - Bresenham</button>
        </div>
    </div>
    <div class="transformacoes-geometricas">
        <p>Tranformações Geométricas</p>
        <div class="transf-operacoes">
            <button *ngIf="buttonSelected === 'translacao'" class="selected">Translação</button>
            <button *ngIf="buttonSelected !== 'translacao'" class="unselected" (click)="selectTranslacao()" >Translação</button>
            <button *ngIf="buttonSelected === 'rotacao'" class="selected" >Rotação</button>
            <button *ngIf="buttonSelected !== 'rotacao'" class="unselected" (click)="selectRotacao()">Rotação</button>
            <button *ngIf="buttonSelected === 'escala'" class="selected" >Escala</button>
            <button *ngIf="buttonSelected !== 'escala'" class="unselected" (click)="selectEscala()">Escala</button>
            <button *ngIf="buttonSelected === 'reflexao'" class="selected">Reflexão</button>
            <button *ngIf="buttonSelected !== 'reflexao'" class="unselected" (click)="selectReflexao()">Reflexão</button>
        </div>
        <div *ngIf="buttonSelected === 'translacao'" class="parametros-translacao">
            <p>Fator de Translação:</p>
            <input type="number" class="translacao-input" placeholder="x" [(ngModel)]="fatorX">
            <input type="number" class="translacao-input" placeholder="y" [(ngModel)]="fatorY">
            <button class="submit" (click)="enviarParametros()">OK</button> 
        </div>
        <div *ngIf="buttonSelected === 'rotacao'" class="parametros-rotacao">
            <p>Angulo de rotacao: </p>
            <input type="number" class="angulo-input" placeholder="60" [(ngModel)]="angulo">
            <p>graus</p>
            <button class="submit" (click)="enviarParametros()">OK</button> 
        </div>
        <div *ngIf="buttonSelected === 'escala'" class="parametros-translacao">
            <p>Fator de Escala:</p>
            <input type="number" class="translacao-input" placeholder="x" [(ngModel)]="escalaX">
            <input type="number" class="translacao-input" placeholder="y" [(ngModel)]="escalaY">
            <button class="submit" (click)="enviarParametros()">OK</button> 
        </div>
    </div>
    <div class="recortes">
        <p>Recortes</p>
        <div class="opcoes-recortes">
            <button>Regiões codificadas – Cohen-Sutherland </button>
            <button>Equação paramétrica – Liang-Barsky </button>
        </div>
    </div>
</div>
