input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.menu {
    background-color: #333;
    margin-right: 70px;
    box-shadow: 0px 0px 1px #fff;
    border: solid 1px rgb(88, 88, 88);
    padding: 30px;
    width: 500px;
}

.circleRaio {
    margin-top: 20px;
    text-align: right;
    display: flex;
}

.circleRaio p {
    margin: 0 20px 0 0;

}

.translacao-input, .angulo-input {
    border: 1px solid rgb(88, 88, 88);
    box-shadow: 0px 0px 1px #fff;
    border-radius: 2px;
    color: white;
    padding: 2px;
    width: 10%;
    height: 25px;
    text-align: center;
    font-size: 15px;
    margin: 10px;
}

.submit{
    font-size: 13px;
    border: 1px solid rgb(88, 88, 88);
    box-shadow: 0px 0px 1px #fff;
    border-radius: 2px;
    color: white;
    padding: 2px;
    width: 10%;
    height: 30px;
    text-align: center;
    margin: 10px;
}

.desenhar{
    color: white;
    margin-bottom: 30px;
    margin-top: 0;
}

.desenhar p{
    font-size: 20px;
}

.desenhar-title{
    margin-top: 0px;
}

.transformacoes-geometricas{
    color: white;
    margin-bottom: 30px;
}

.transformacoes-geometricas p{
    font-size: 20px;
}

.parametros-translacao, .parametros-rotacao{
    display: flex;
    width: 100%;
    margin: 10px;
}

.parametros-translacao p, .parametros-rotacao p{
    font-size: 13px;
}
.recortes{
    color: white;
    margin-bottom: 30px;
}

.recortes p{
    font-size: 20px;
}

.transf-operacoes{
    display: flex;
    gap: 3%;
}

.opcoes-desenhos{
    display: flex;
    gap: 3%;
}

.opcoes-recortes{
    display: flex;
    gap: 3%;
}

.ok-button{
    width: 10%;
    height: 30px;
    margin-left: 10px;
    background: rgb(88, 88, 88);
}

.ok-button:hover{
    background: rgb(129, 129, 129);
    border: 1px solid rgb(129, 129, 129);
}

button{
    width: 70%;
    height: 40px;
    background: none;
    border: solid 1px rgb(88, 88, 88);
    color: white;
    box-shadow: 0px 0px 1px #fff;
    font-size: 13px;
}

button:hover{
    background: rgb(88, 88, 88);
    cursor: pointer;
}

.unselected{
    width: 50%;
    height: 40px;
    background: none;
    border: solid 1px rgb(88, 88, 88);
    color: white;
    box-shadow: 0px 0px 1px #fff;
    font-size: 13px;
}

.unselected:hover{
    background: rgb(88, 88, 88);
    cursor: pointer;
}

.selected{
    width: 50%;
    height: 40px;
    background: rgb(88, 88, 88);
    border: solid 1px rgb(88, 88, 88);
    color: white;
    box-shadow: 0px 0px 1px #fff;
    font-size: 13px;
}

.selected:hover{
    cursor: pointer;
}