.menu {
    width: 800px;
    height: 600px;
    background-color: #333;
    align-self: left;
    margin-right: 70px;
    box-shadow: 0px 0px 1px #fff;
    border: solid 1px rgb(88, 88, 88);

}

.desenhar{
    color: white;
    padding: 0 20px 0 20px;
}

.desenhar p{
    font-size: 20px;
}

.transformacoes-geometricas{
    color: white;
    padding: 0 20px 0 20px;
}

.transformacoes-geometricas p{
    font-size: 20px;
}

.recortes{
    color: white;
    padding: 0 20px 0 20px;
}

.recortes p{
    font-size: 20px;
}

.transf-operacoes{
    display: flex;
    gap: 3%;
}

.opcoes-desenhos{
    display: flex;
    gap: 3%;
}

.opcoes-recortes{
    display: flex;
    gap: 3%;
}

button{
    width: 50%;
    height: 40px;
    background: none;
    border: solid 1px rgb(88, 88, 88);
    color: white;
    box-shadow: 0px 0px 1px #fff;
    font-size: 15px;
}

button:hover{
    background: rgb(88, 88, 88);
    cursor: pointer;
}

.unselected{
    width: 50%;
    height: 40px;
    background: none;
    border: solid 1px rgb(88, 88, 88);
    color: white;
    box-shadow: 0px 0px 1px #fff;
    font-size: 15px;
}

.unselected:hover{
    background: rgb(88, 88, 88);
    cursor: pointer;
}

.selected{
    width: 50%;
    height: 40px;
    background: rgb(88, 88, 88);
    border: solid 1px rgb(88, 88, 88);
    color: white;
    box-shadow: 0px 0px 1px #fff;
    font-size: 15px;
}

.selected:hover{
    cursor: pointer;
}