body {
    font-family: "Open Sans", sans-serif;
    align-items: center;
}

.title-box {
    text-align: center;
    margin-top: 40px;
    margin-bottom: 20px;
}

.title {
    color: #fff;
    font-weight: 500;
}

.page-wrapper {
    margin: 30px;
    display: flex;
    justify-content: center;
}