<p *ngIf="!this.buttonSelected">Clique em uma das opções de desenho</p>
<p *ngIf="this.buttonSelected && numPixels == 2">Marque o ponto inicial</p>
<p *ngIf="this.buttonSelected && numPixels == 1">Marque o ponto final</p>
<ng-container *ngIf="width && height">
  <drawing-grid
    class="canvas"
    [width]="width"
    [height]="height"
    [pixelSize]="pixelSize"
    (mouseDown)="onMouseDown($event)"
    (contextMenu)="onContextMenu($event)"
  >
  </drawing-grid>
</ng-container>
<button (click)="cleanCanvas()">Limpar</button>